.header {
    width: 859px;
    height: 74px;
    margin: auto;
    border-radius: 0px 0px 12px 12px;
    background: #3470FF;
    display: flex;
    justify-content: center;
    align-items: center;
}