.svg {
    fill: #333;
    width: 100px;
    height: 100px;
    transition: fill 0.3s
}

.svg:hover {
    fill: #ba8fff;
}

.list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 52px;
    row-gap: 24px;
    justify-content: center;
}

.container {
    padding: 24px 128px;
}