.svg {
    fill: #333;
    width: 100px;
    height: 100px;
}

.svg:hover {
    fill: white;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 52px;
}

.container {
    padding: 0px 128px;
}