.nav {
  height: 44px;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.iconLink {
  display: flex;
  align-items: center;
}

.iconLink:hover,
.iconLink:focus {
  cursor: pointer;
}

.svg {
  fill: #333;
  width: 60px;
  height: 60px;
}

.iconWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.name {
  color: #ba8fff;
}

.navList {
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.navItem {
  height: 100%;
}

.navLink {
  display: flex;
  align-items: center;
  padding: 0px 8px;
  height: 100%;
  position: relative;
}

.navLink::before {
	content: '';
	position: absolute;
	left: 0; bottom: 6px;
	width: 100%;
	height: 3px;
	background-color: #ba8fff;
  border-radius: 20px;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s;
}

.navLink:hover::before,
.linkActive::before
 {
  transform: scaleX(1);
}