.catalogWrapper {
    width: 1184px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.flexList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
}