.dropdownWrapper {
  border-radius: 14px;
}

.menu:hover {
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 52px;
  padding: 14px 18px;
  width: 224px;
  height: 272px;
  overflow: auto;
  border-radius: 14px;
  background: #FFF;
  box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.02);
}

.menu::-webkit-scrollbar {
  width: 28px;
  border: 10px solid white;
  border-radius: 14px;
  height: 200px;
}

.menu::-webkit-scrollbar-thumb {
  background: #6d1cac;
  border-radius: 14px;
  border: 10px solid white;
}

.button {
  width: 125px;
  height: 48px;    
  border-radius: 14px;
  background: #F7F7FB;
  font-weight: 500;
  line-height: 1.1;
  padding-left: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: box-shadow 0.3s;
}

.button:hover,
.button:focus {
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
}