.wrapper {
    padding: 0px 128px;
    display: flex;
    margin-bottom: 68px;
}

.visuallyHidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;

    white-space: nowrap;
    clip-path: inset(100%);
}

.image {
    object-fit: cover;
}
