.footerWrapper {
    width: 100%;
    margin: auto;
    background: #303846;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 18px 0px;
}

.title {
    text-align: center;
    margin-bottom: 12px;
    font-size: 18px;
}

.list {
    display: flex;
    gap: 12px;
}

.social {
    margin-bottom: 24px;
}

.svg {
    fill: #1b1b1d;
    transition: fill 0.3s
}

.svg:hover,
.svg:focus {
    fill: #ba8fff
}